.insertIdea {
    padding: 5%;
}

.insertIdea h3 {
    text-align: center;
    margin: 5%;
    font-family: 'Patrick Hand SC', cursive;
    font-size: 21pt;
}

.insertIdea form {
    display: flex;
    flex-direction: column;
}

.insertIdea form select {
    margin-bottom: 5%;
    padding: 10px;
    width: fit-content;
}